*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/rednum/com/infbigand/Security
/app/src/main/java/rednum_com_infbigand_Security_En_Dn_crypt.h
/app/src/main/jni